.place__like-button {
    width: 21px;
    height: 19px;
    background: none;
    background-image: url(../../../images/place__like-button.svg);
    background-repeat: no-repeat;
    outline: none;
    border: none;
    transition: opacity .5s ease-out;
    cursor: pointer;
}

.place__like-button:hover {
    opacity: .6;
}